@model BasicSecurityProject.ViewModel.DecryptionViewModel;

@{
    ViewBag.Title = "Decryption";
    
}
<head>
    <link rel="stylesheet" type="text/css" href="~/css/bootstrap.css">
</head>
<body>

    <div class="container-fluid">
        <div class="jumbotron vertical-center w-100 bg-white">
            <h1 class="text-center display-1 bg-white">Decrypteren</h1>
        </div>
        <div class="row align-items-center">
            <div class="col-12">
                <form method="post" enctype="multipart/form-data" class="w-100 mx-auto d-block">

                    <!--Alles wat niet geselecteerd wordt, wordt aangemaakt, behalve de message-->
                    <div class="row align-items-center">
                        <div class="offset-3 col-3">
                            <label asp-for="File_1" class="text-center w-100 mx-auto d-block">Selecteer file 1</label>
                        </div>
                        <div class="col-3">
                            <input asp-for="File_1" class="w-100 mx-auto d-block" type="file">
                        </div>
                        <span></span>
                    </div>

                    <div class="row align-items-center">
                        <div class="offset-3 col-3">
                            <label asp-for="File_2" class="text-center w-100 mx-auto d-block">Selecteer file 2</label>
                        </div>
                        <div class="col-3">
                            <input asp-for="File_2" class="w-100 mx-auto d-block" type="file">
                        </div>
                        <span></span>
                    </div>

                    <div class="row align-items-center">
                        <div class="offset-3 col-3">
                            <label asp-for="File_2_IV" class="text-center w-100 mx-auto d-block">Selecteer file 2 (IV)</label>
                        </div>
                        <div class="col-3">
                            <input asp-for="File_2_IV" class="w-100 mx-auto d-block" type="file">
                        </div>
                        <span></span>
                    </div>

                    <div class="row align-items-center">
                        <div class="offset-3 col-3">
                            <label asp-for="File_3" class="text-center w-100 mx-auto d-block">Selecteer file 3</label>
                        </div>
                        <div class="col-3">
                            <input asp-for="File_3" class="w-100 mx-auto d-block" type="file">
                        </div>
                        <span></span>
                    </div>

                    <div class="row align-items-center">
                        <div class="offset-3 col-3">
                            <label asp-for="PrivateKey" class="text-center w-100 mx-auto d-block">Selecteer uw private key</label>
                        </div>
                        <div class="col-3">
                            <input asp-for="PrivateKey" class="w-100 mx-auto d-block" type="file">
                        </div>
                        <span></span>
                    </div>

                    <div class="row align-items-center">
                        <div class="offset-3 col-3">
                            <label asp-for="FromUserUsername" class="text-center w-100 mx-auto d-block">User die de files gestuurd heeft</label>
                        </div>
                        <div class="col-3">
                            <input asp-for="FromUserUsername" class="w-100 mx-auto d-block" type="text">
                        </div>
                        <span></span>
                    </div>

                    <div class="row align-items-center">
                        <div class="offset-3 col-3">
                            <label asp-for="DecryptedFileName" class="text-center w-100 mx-auto d-block">Naam om gedycrepteerd file op te slaan</label>
                        </div>
                        <div class="col-3">
                            <input asp-for="DecryptedFileName" class="w-100 mx-auto d-block" type="text">
                        </div>
                        <span></span>
                    </div>

                    <div class="row align-items-center">
                        <div class="offset-3 col-3">
                            <label asp-for="DecryptedFilePath" class="text-center w-100 mx-auto d-block">Path op gedecrypteerd file op te slaan</label>
                        </div>
                        <div class="col-3">
                            <input asp-for="DecryptedFilePath" class="w-100 mx-auto d-block" type="text">
                        </div>
                        <span></span>
                    </div>

                    <div class="row align-items-center">
                        <div class="offset-3 col-3">
                            <label asp-for="DecryptedFileExtention" class="text-center w-100 mx-auto d-block">File extensie van origineel bestand (zonder punt)</label>
                        </div>
                        <div class="col-3">
                            <input asp-for="DecryptedFileExtention" class="w-100 mx-auto d-block" type="text">
                        </div>
                        <span></span>
                    </div>

                    <div class="row align-items-center">
                        <div class="offset-3 col-3">
                            <button class="btn btn-outline-primary w-50 mx-auto d-block" type="submit">Decrypteer</button>
                        </div>
                    </div>

                </form>
            </div>
        </div>
    </div>

</body>
