@{
    ViewBag.Title = "Encrypt or decrypt";
}

<head>
    <link rel="stylesheet" type="text/css" href="~/css/bootstrap.css">
</head>
<div class="container-fluid">
    <div class="row align-items-center">
        <div class="col-12">
            <h1 class="w-25 mx-auto d-block"><u>Ik wil graag</u></h1>
        </div>
        <div class="col-12">
            <form id="userInput">
                <div class="row align-items-center">
                    <div class="offset-3 col-3">
                        <button class="w-25 mx-auto d-block">Encrypteren</button>
                    </div>
                    <div class="col-3">
                        <button class="w-25 mx-auto d-block">Decrypteren</button>
                    </div>
                </div>    
            </form>
        </div>
    </div>
</div>
   
