@{
        ViewBag.Title = "Encrypt or decrypt";
}

    <head>
        <link rel="stylesheet" type="text/css" href="~/css/bootstrap.css">
    </head>
    <div class="container-fluid">
        <div class="jumbotron vertical-center w-100 bg-white">
            <div class="col-12">
                <h1 class="text-center display-1 bg-white pb-5 pb-lg-5">Ik wil graag</h1>
            </div>
            <div class="col-12">
                <form id="userInput">
                    <div class="row align-items-center">
                        <div class="col-sm">
                            <a asp-action="Encryption" class="btn btn-outline-primary w-75 mx-auto d-block">Encrypteren</a>
                        </div>
                        <div class="col-sm">
                            <a asp-action="SteganographyChoice" class="btn btn-outline-primary w-75 mx-auto d-block">Steganografie</a>
                        </div>
                        <div class="col-sm">
                            <a asp-action="Decryption" class="btn btn-outline-primary w-75 mx-auto d-block">Decrypteren</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

