@model BasicSecurityProject.ViewModel.LoginViewModel;
@{
    ViewBag.title = "Welcome";
}
<head>
    <link rel="stylesheet" type="text/css" href="~/css/bootstrap.css">
</head>

<body class="jumbotron vertical-center w-100 bg-white">

    <div class="container-fluid">
        <div class="row align-items-center">
            <div class="col-6 offset-3">
                <h1 class="text-center display-1 pb-5 pb-lg-5">Welkom</h1>
            </div>
            <div class="col-12">
                <form method="post" class="w-100 mx-auto d-block">

                    <div class="row align-items-center">
                        <div class="offset-3 col-3">
                            <label asp-for="Username" class="text-center d-block">Username</label>
                        </div>
                        <div class="col-3">
                            <input asp-for="Username" class="w-100 mx-auto d-block" type="text">
                        </div>
                        <span asp-validation-for="Username"></span>
                    </div>

                    <div class="row align-items-center">
                        <div class="offset-3 col-3">
                            <label asp-for="Password" class="text-center d-block">Wachtwoord</label>
                        </div>
                        <div class="col-3">
                            <input asp-for="Password" class="w-100 mx-auto d-block" type="password">
                        </div>
                        <span asp-validation-for="Password"></span>
                    </div>

                    <div class="row align-items-center">
                        <div class="offset-3 col-3">
                            <button class="btn btn-outline-primary w-50 mx-auto d-block" type="submit">Inloggen</button>
                        </div>
                        <div class="col-3">
                            <a asp-action="Register" class="text-center d-block">Nog geen account? registreer je hier</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>


