<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>@ViewBag.Title</title>
</head>
<body>
    @RenderBody()
    <div class="col-12">
        <p>@Html.ValidationSummary(true)</p>
    </div>
</body>
</html>